<div>
  Welcome {{name}}
  <input type="text" [value]="name" />
  <div *ngIf="isVisible && name === 'Santosh'">
    {{description}}
  </div>

  <button (click)="clickAction()">Call me</button>

  <ul>
    <li *ngFor="let d of data">
      {{d}}
    </li>
  </ul>


  <p [ngStyle]="{'background-color':name === 'Santosh' ? 'green' : 'red'}">
    Angular Directives Are Cool!
  </p>

  <p [ngClass]="{'text-success': name === 'Santosh'}">
    Sample text
  </p>

  <div class="btn btn-success">Button</div>

  <button [ngClass]="['btn', 'btn-primary']">Button</button>

  <p>Passing a configuration object:</p>
  <button [ngClass]="{ btn:true, 'btn-primary':true }">
    Button
  </button>

  <p>The hero's birthday is {{ birthday | date }}</p>
</div>